* {
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  text-align: left;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  float: left;
  padding: 10px;
}

h2 {
  margin-bottom: 5px;
  padding: 10px;
}

h3 { 
  border-bottom: dotted 1px #666666;
  color: #aaaaaa; 
  list-style: none;
  margin-bottom: 5px;
  padding: 5px;
}

a {
  color: #1FA2E1;
  text-decoration: none;
}

blockquote {
  border-color: #eee;
  border-style: solid;
  font-family: Georgia; 
  margin: 30px;
  padding: 20px;
}

li {
  border-bottom: dotted 1px #666666;
  list-style: none;
  text-decoration: none;
}

p {
  padding: 10px;
}

nav {
  background-color: black;
}

nav a {
  color: #cccccc;
  display: block;
  float: left;
  padding: 20px;
  text-align: center;
  width: 100px;
}

nav a:hover { 
    background-color: #ff7401;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    transition: .3s;
    width: 100px;
}

article {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 290px;
}

article p {
  color: #aaaaaa;
}

footer {
  color: #aaaaaa; 
  display: block;
}

.hero {
  background-image: url("../images/photobanner.png");
  height: 370px;
}

.social {
  float: right;
  padding: 10px;
}

.photo { 
  border-color: #eee;
  border-style: solid; 
}

.clear {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.home {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.copyright {
  color: #aaaaaa;
  float: left;
}

.sponsor { 
  color: #aaaaaa;
  float: right;
 }

 .bottom {
  background-color: black;
  margin-bottom: 30px;
  margin-top: 40px;
  padding: 10px;
  width: auto;
 }

.wrapper {
  display: block;
  margin: 0 auto;
  width: 960px;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.clear {
  clear: both;
}
